@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.bengali {
  font-family: var(--font-mina), sans-serif;
}

.english {
  font-family: var(--font-tagesschrift), sans-serif;
}
